<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Карточки пользователей</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

 <div class="card card-horizontal-left">
        <img src="../static/image/img.png" alt="Фото пользователя">
        <div class="card-content">
            <h2>Иван Иванов</h2>
            <p>Email: ivan@example.com</p>
            <p>Дата рождения: 15.04.1990</p>
            <p>Город: Москва</p>
        </div>
    </div>

    <div class="card card-vertical">
        <img src="../static/image/card 2.jpg" alt="Фото пользователя">
        <h2>Мария Смирнова</h2>
        <p>Email: maria@example.com</p>
        <p>Дата рождения: 22.06.1985</p>
        <p>Город: Санкт-Петербург</p>
    </div>

    <div class="card card-horizontal-right">
        <div class="card-content">
            <h2>Алексей Кузнецов</h2>
            <p>Email: alexey@example.com</p>
            <p>Дата рождения: 03.09.1978</p>
            <p>Город: Новосибирск</p>
        </div>
        <img src="../static/image/card 3.jpg" alt="Фото пользователя">
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Submitted Data</h5>
            <p class="card-text">Name: {{ name }}</p>
            <p class="card-text">City: {{ city }}</p>
            <p class="card-text">Hobby: {{ hobby }}</p>
            <p class="card-text">Age: {{ age }}</p>
        </div>
</div>
</body>
</html>
