<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рейтинг любимых блюд</title>
</head>
<body>

<h1>Рейтинг любимых блюд</h1>

<table bgcolor="pink" aligh="centre" border="2px" height="400px" width="800px">
	<tr>
		<th>Название блюда</th>
		<th>Оценка блюда</th>
		<th>Ссылка на рецепт</th>
		<th>Фото блюда</th>
	</tr>
	<tr>
		<td>Суп с куриными фрикадельками и плавленным сыром</td>
		<td>8/10</td>
		<td><a href="https://1000.menu/cooking/13403-syrnyi-sup-s-kurinymi-frikadelkami">Рецепт супа с куриными фрикадельками и плавленным сыром</a></td>
		<td><img src="static/image/sup-s-kurinymi-frikadelkami-i-plavlennym-syrom-pp_1720930027_16_6iqaf4h_max.jpg" width=150px alt="суп с фрикадельками"></td>

	</tr>
	<tr>
		<td>Помидоры с сыром луком и яйцом на сковороде</td>
		<td>8/10</td>
		<td><a href="https://1000.menu/cooking/54119-omlet-s-pomidorom-lukom-i-syrom">Рецепт помидор с сыром луком и яйцом на сковороде</a></td>
		<td><img src="static/image/pomidory-s-syrom-i-lukom-i-yaicom_1679139267_12_max.jpg" width=150px alt="помидоры  с луком и яйцом"></td>

	</tr>
	<tr>
		<td>Творожная запеканка пп без муки и манки в духовке</td>
		<td>10/10</td>
		<td><a href="https://1000.menu/cooking/50724-tvorojnaya-zapekanka-pp-v-duxovke-bez-muki">Рецепт творожной запеканки</a></td>
		<td><img src="static/image/tvorojnaya-zapekanka-pp-v-duxovke-bez-muki_1602407336_15_max.jpg" width=150px alt="творожная запеканка"></td>

	</tr>
	<tr>
		<td>Заварные тонкие блины на сыворотке</td>
		<td>9/10</td>
		<td><a href="https://1000.menu/cooking/22401-zavarnye-tonkie-bliny-na-syvorotke">Рецепт заварных тонких блинов</a></td>
		<td><img src="static/image/recept-zavarnyx-tonkix-blinov-na-syvorotke_1505413210_2_max.jpg" width=150px alt="тонкие блинчики"></td>
	</tr>
	<tr>
		<td>Шарлотка на яйцах с яблоками</td>
		<td>10/10</td>
		<td><a href="https://1000.menu/cooking/65880-sharlotka-na-yaicax-s-yablokami">Рецепт Шарлотки на яйцах с яблоками</a></td>
		<td><img src="static/image/sharlotka-na-yaicax-s-yablokami_1656183136_11_max.jpg" width=150px alt="шарлотка с яблоками"></td>
	</tr>

</table>
</body>
</html>